
body {
    background-color: lightblue;
    align-content: center;
    margin: fill;
}
h1 {
    color: white;
}
label {
    color: white;
    display: inline-block

}
p {
    color: white;
}
div.wrapper {
    padding: 200px;
    align-content: center;
    width: 40em;
    margin: auto;

}

div.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:30em;

}