
body {
    background-color: lightblue;
    align-content: center;
    margin: fill;
}

.header {
    font-style: italic;
    text-align: center;
    background: #81a2ac;
    color: white;
    font-size: 30px;
    padding:5px;

}
.header.p {
    font-style: initial;
}


h1 {
    color: white;
}
label {
    color: white;
    display: inline-block

}
p {
    color: white;
}
div.wrapper {
    padding: 100px;
    align-content: center;
    width: 40em;
    margin: auto;

}

div.container {
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:30em;

}