
body {
    background-color: lightblue;
    align-content: center;
    margin: fill;
}

.header {
    font-style: italic;
    text-align: center;
    background: #81a2ac;
    color: white;
    font-size: 30px;
    padding: 5px;

}

.header.p {
    font-style: initial;
}

iframe {
    width: 100%;
}

h1 {
    color: white;
}

label {
    color: white;
    display: inline-block

}

p {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    text-align: center;
}


div.container {
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30em;

}